html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  height: 100vh;
}
.plagin-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  padding: 40px;

  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
}

@media screen and (max-width: 585px) {
}

.button-wrapper {
  display: flex;
}

button {
  background-color: rgb(42, 44, 48);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 40px;
  padding: 10px 60px;
}

@media screen and (max-width: 585px) {
  button {
    background-color: rgb(42, 44, 48);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    padding: 10px 30px;
  }
}

button:last-child {
  margin-left: 10px;
}

button:hover,
button:focus {
  background-color: teal;
}

.current-color {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  height: 40px;
  border: 1px solid black;
  border-radius: 5px;

  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-whidth: 585px) {
  .current-color {
    margin-bottom: 10px;
  }
}
